html{
  background: linear-gradient(to bottom,  #7e4a35, #cab577, #838060);
}
h1, h2 {
  font-family: Lato;
   text-align: center;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
p{
 text-align: center;
}

#img-caption{
  font-style: italic;
  margin-top: 0px;
  /* color: white; */
}
/* #img-div{
 background-color: black; 
} */

