body{
  background: linear-gradient(to bottom, #C0C0C0,  #8787e8);
  color: black;
}
h1, h2 {
   text-align: center;
}
img{
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
 text-align: center;

}

#img-caption{
  font-style: italic;
  margin-top: 0px;
}
ul{
   text-align: center;
   font-size: 22px;
}

main{
  overflow: auto;
}



